<head>
    <title>DSPI Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body>
<div class="container-auto p-5">
    <div class="row">
        <div class="col-md-12">
            <h1>DSPI Application</h1>
            <p>This application offers 2 main features</p>
            <ul>
                <li>A Web App</li>
                <li>A REST Interface</li>
            </ul>
        </div>
    </div>
    <div class="row">
            <h4>The Web App can be accessed at the following pages</h4>
    </div>
    <div class="row">
        <div class="col col-6">
            <ul class="form-group">
                <li class="list-group-item"><a class="btn btn-primary" href="western_tweets/westIndex">Tweets from Western accounts</a></li>
                <li class="list-group-item"><a class="btn btn-primary" href="western_tweets/tweet_search/">Search through the western tweets by day!</a></li>
                <li class="list-group-item"><a class="btn btn-primary" href="western_tweets/tweet_search_sumarised/">Summarise tweets from western sources by day!</a></li>
                <li class="list-group-item"><a class="btn btn-primary" href="western_tweets/tweet_sentiment/">Sentiment Analysis visualization on western tweets!</a></li>

            </ul>
        </div>
        <div class="col col-6">
            <ul class="form-group">
                <li class="list-group-item"><a class="btn btn-danger" href="russian_tweets/">Tweets from Russian accounts</a></li>
                <li class="list-group-item"><a class="btn btn-danger" href="russian_tweets/russian_tweet_search/">Search through the western tweets by day!</a></li>
                <li class="list-group-item"><a class="btn btn-danger" href="russian_tweets/russian_tweet_search_summarised/">Summarise tweets from russian sources by day!</a></li>
                <li class="list-group-item"><a class="btn btn-danger" href="russian_tweets/russian_sentiment/">Sentiment Analysis visualization on russian tweets!</a></li>

            </ul>
        </div>
    </div>
    <div class="row">
        <p>You can visualize a prediction of the sentiment for the following days here <a class="btn btn-warning" href="sentimentPrediction/">Prediction of Sentiment</a></p>
    </div>
    <div class="row">
            <h4>The REST Interface can be accessed at the following pages</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
             <a class="btn btn-info" href="api/">Rest API</a>
        </div>
    </div>
</div>
</body>